.lista{
    width: 100%;
    border-spacing: 0px;
}

.lista tr:nth-child(1){
    vertical-align: top;
    background-color: black;
    color: white;
    font-weight:none;

}

.lista tr td{
    padding: 5px;
}